# PyInstaller
build/
dist/
*.spec
!mavdown.spec

# App Data
downloads/
config.json

# Cache
__pycache__/
*.pyc

# Binaries (too large for git)
bin/*.exe
bin/*.old

# Nuitka Build
*.build/
*.dist/

# InnoSetup Output
Output/

# Build Scripts & Configs
setup.iss
build_nuitka.bat

seal_repo/